/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.full-width{
    width: 100%;
}
.width-50{
    width: 50%;
}
/* For Success Snack Bar */
.success-snackbar {
    background-color: green;
    color: white; /* Optional: text color */
  }
  
  /* For Failure Snack Bar */
  .failure-snackbar {
    background-color: red;
    color: white; /* Optional: text color */
  }
  
  /* For Warning Snack Bar */
  .warning-snackbar {
    background-color: orange;
    color: black; /* Optional: text color */
  }
  
  /* For Info Snack Bar */
  .info-snackbar {
    background-color: rgb(62, 163, 211);
    color: white; /* Optional: text color */
  }
  
