.margin-top-20{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 20px;
}
.img-size{
    height: 80px;
    width: 80px;
}
.example-full-width {
    width: 100%;
  }
.custom-input {
    height: 3px; /* Adjust this value as needed */
    font-size: 14px; /* Adjust the font size to fit the new height */
    padding: 5px; /* Adjust padding to fit the new height */
    line-height: 1.5; /* Ensure line-height matches the height for proper alignment */
}
.mat-form-field {
  margin-top: 4px; /* Adjust as needed */
  margin-bottom: 4px; /* Adjust as needed */
}
.margin-left-10{
    margin-left: 10px;
}
  